$mainBackground: hsl(218, 28%, 13%);
$emailSigupBackground: hsl(217, 28%, 15%);
$footerBackground: hsl(216, 53%, 9%);
$testimonialsBackground: hsl(219, 30%, 18%);
$white: hsl(0, 0%, 100%);
$fontOpensans: 'Open Sans', sans-serif;
$fontRaleway: 'Raleway', sans-serif;